[submodule "news"]
	path = news
	url = https://github.com/monokrome/django-news.git
[submodule "navigation"]
	path = navigation
	url = https://github.com/monokrome/django-navigation.git
[submodule "galleries"]
	path = galleries
	url = https://github.com/monokrome/django-galleries.git
[submodule "aliases"]
	path = aliases
	url = https://github.com/monokrome/django-aliases.git
[submodule "webbugger"]
	path = webbugger
	url = https://github.com/monokrome/django-webbugger.git
