[submodule "news"]
	path = news
	url = https://github.com/monokrome/django-news.git
[submodule "navigation"]
	path = navigation
	url = https://github.com/monokrome/django-navigation.git
[submodule "galleries"]
	path = galleries
	url = https://github.com/monokrome/django-galleries.git
